@import "~ng-zorro-antd/ng-zorro-antd.min.css";

:root {
  font-size: 10px;
  --primary-color: #302ca2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}

// Utilities
.show-md {
  display: none !important;
}

@media screen and (max-width: 668px) {
  .show-md {
    display: block !important;
  }

  .hide-md {
    display: none !important;
  }
}

// Override the style from zorro
.ant-drawer-content-wrapper {
  width: 60% !important;
}

.ant-dropdown-menu-item {
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
}

[nz-button] {
  margin-right: 0.8rem;
  margin-bottom: 1.2rem;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
